<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/font-awesome.min.css">
        <link rel="stylesheet" href="{{STATIC_URL}}css/buttons.css">
        <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"> -->
        <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- <link rel="stylesheet" href="static/css/bootstrap-responsive.min.css"> -->
        <link rel="stylesheet" href="{{STATIC_URL}}css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Armata' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->


        <div class="wrapper">

            <div id="left" class="bar"></div>

            <div id="right" class="bar"></div>

            <div id="middle">
                <div id="topbar">
                    <form action="#" method="post" id="login-form">{% csrf_token %}
                        <label for="id_username" class="required">Login:</label>
                        <input id="id_username" maxlength="254" name="username" type="text" class="form-control">
                        
                        <label for="id_password" class="required">Senha:</label>
                        <input id="id_password" name="password" type="password" class="form-control">

                        <input type="submit" value="Login" class="btn btn-default btn-small">
                        <a href="#" class="btn btn-default btn-small">Cadastrar</a>
                    </form>
                </div>

                <div id="header">
                    <div class="navigation-wrapper">
                        <ul class="navigation-buttons" id="nav-right">
                            <li><a class="button button-flat-highlight" href="#">Como Jogar</a></li>
                            <li><a class="button button-flat-highlight" href="#">Créditos</a></li>
                            <li><a class="button button-flat-highlight" href="#">Recomendações</a></li>
                            <li><a class="button button-flat-highlight" href="#">FAQ</a></li>
                        </ul>
                        <ul class="navigation-buttons" id="nav-left">
                            <li><a class="button button-flat-highlight" href="#">Glossário</a></li>
                            <li><a class="button button-flat-highlight" href="#">Baixar o Owned</a></li>
                            <li><a class="button button-flat-highlight" href="#">Participe</a></li>
                            <li><a class="button button-flat-highlight" href="#">Blog do Owned</a></li>
                        </ul>
                    </div>
                </div>
                
                <div id="content-wrapper">
                    <div id="content">
                        <div class="square" id="square-top"></div>
                        <div class="book-text">
                            {{ content | safe}}
                        </div>
                        <div class="square" id="square-bottom"></div>
                    </div>
                </div>

                <div id="footer">
                    <div id="logo">
                        <img src="{{STATIC_URL}}img/logo_flat.png"></img>
                    </div>

                    <div id="license">
                        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
                    </div>

                </div>
            </div>

        </div>

        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script> -->
        <!-- <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-1.10.1.min.js"><\/script>')</script> -->

        <!-- <script src="static/js/vendor/bootstrap.min.js"></script> -->
        <!-- <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script> -->
        

        <script>
            var _gaq=[['_setAccount','UA-XXXXXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
