{% extends "base.html" %}
{% block title %}Glossário{% endblock %}

{% block content %}
    <h1>Glossário de termos de videogames, informática etc.</h1>

    <dl>
        <dt>“[Fulano] joined your party!”</dt> – <dd>“[Fulano] juntou-se ao seu grupo”. é a expressão usada em RPGs para anunciar que, de agora em diante, determinado personagem vai andar com o personagem principal e ajudá-lo nas batalhas que porventura surgirem.</dd>

        <dt>Action figure</dt> – <dd>boneco articulado que representa um personagem de ficção, geralmente de videogames, quadrinhos, filmes ou seriados.</dd>

        <dt>Adventure</dt> – <dd>gênero de jogo mais focado na história em que é preciso combinar objetos e resolver puzzles (enigmas) para prosseguir. Exemplos: Myst, King’s Quest, Monkey Island.</dd>

        <dt>Backup</dt> – <dd>cópia de segurança. Caso haja perda de dados, arquivos podem ser recuperados a partir dela.</dd>

        <dt>Besta ou balestra</dt> – <dd>Arco horizontal montado sobre uma base que serve para atirar setas, exigindo menos força do atirador do que o arco tradicional.</dd>

        <dt>Beta tester</dt> – <dd>Testador da versão preliminar (versão beta) de um programa ou jogo eletrônico. O leitor da versão preliminar de um texto costuma ser chamado de beta reader.</dd>

        <dt>Boxe ou Box</dt> – <dd>cubículo alugado que funciona dentro de uma loja maior com dezenas de cubículos idênticos. Muito comum para a venda de produtos e serviços de informática no Brasil.</dd>

        <dt>Bugado</dt> – <dd>que tem bug (defeito de programação).</dd>

        <dt>Camaro</dt> – <dd>carro clássico da Chevrolet cujo projeto original tinha um motor bem potente e barulhento.</dd>

        <dt>Chat</dt> – <dd>Sistema de mensagens instantâneas, com ou sem vídeo/áudio, que duas ou mais pessoas podem usar para conversar à distância, cada uma em seu computador.</dd>

        <dt>Cheat codes</dt> – <dd>códigos para trapacear no jogo. Dependendo do código, o personagem pode obter mais armas, mais vidas, invencibilidade, pulos mais altos, etc.</dd>

        <dt>Cooler</dt> – <dd>ventilador que refrigera o interior de um gabinete de computador para evitar superaquecimento das peças, especialmente da fonte. SevenTeam é uma marca famosa.</dd>

        <dt>Cosplay</dt> – <dd>do inglês costume play. Quer dizer se fantasiar como um personagem de desenho ou videogames.</dd>

        <dt>Cutscene ou cinematics</dt> – <dd>vídeo não interativo entre duas seções interativas do jogo eletrônico. Teoricamente, pode servir para desenvolver melhor os personagens e a história. Muitas vezes serve como nexo entre dois níveis do jogo.</dd>

        <dt>Dating sim</dt> – <dd>também dating game e outras denominações. Jogo (às vezes pornográfico) com protagonista masculino no qual o objetivo é cortejar e conquistar garotas; nesse caso, é chamado de bishôjo. Também existe a versão com protagonista feminina em busca de garotos, denominada otome.</dd>

        <dt>Driver</dt> – <dd>programa de computador que faz a ponte entre o sistema operacional e um componente físico do computador.</dd>

        <dt>Drop</dt> – <dd>são os artigos que um inimigo deixa cair ao morrer. Taxa de drop é a probabilidade de um inimigo deixar algo cair ao morrer. Dropar é deixar cair ao morrer.</dd>

        <dt>Dungeon</dt> – <dd>Masmorra.</dd>

        <dt>Easter egg</dt> – <dd>literalmente, “ovo de Páscoa”. Surpresa escondida dentro do jogo que, geralmente, faz referência à vida real ou a outras obras.</dd>

        <dt>Emoticon</dt> – <dd>Símbolos formados com sinais de pontuação e letras que, vistos de lado, se parecem com carinhas humanas. São usados para expressar emoções em textos pessoais na internet. XD, por exemplo, significa uma risada com os olhos apertados.</dd>

        <dt>Empowerment</dt> – <dd>Palavra que costuma ser traduzida pelo neologismo empoderamento. Vem dos movimentos de direitos civis dos Estados Unidos. Significa dar a alguém (por exemplo, aos trabalhadores de uma empresa) os meios para adquirir mais controle sobre as próprias decisões.</dd>

        <dt>Escape game ou jogo de fuga</dt> – <dd>subgênero de jogo adventure em que é preciso encontrar e combinar objetos para escapar de um recinto fechado. Sua duração costuma ser mais curta do que a de um jogo normal.</dd>

        <dt>Escort mission</dt> – <dd>Ou missão de escolta. Em jogos, missão que consiste em defender um ou mais civis indefesos levando-os por uma área perigosa, com inimigos. Se essa(s) pessoa(s) morrer(em), a missão fracassa. Apesar de aparecer frequentemente, é abominada pela maioria dos jogadores.</dd>

        <dt>Fanfic</dt> – <dd>Abreviação do inglês fan fiction, ou “ficção de fã”. Texto criado em cima de personagens e situações de um autor por outra pessoa, um fã.</dd>

        <dt>Gamer</dt> – <dd>Aficionado por jogos eletrônicos.</dd>

        <dt>GTA</dt> – <dd>Grand Theft Auto. Série de jogos polêmica que consiste em uma cidade digital em tempo real a ser explorada pelo jogador cumprindo missões criminosas, pilotando veículos e desafiando a polícia, com subtemáticas sexuais.</dd>

        <dt>Hacker</dt> – <dd>no contexto desse livro, é alguém envolvido com invasão e modificação de sistemas de computação com uma abordagem punk e uma motivação pessoal. Hackear seria fazer isso e hackeado seria o objeto de jogo modificado ilegalmente.</dd>

        <dt>Haste – <dd>Apressar em inglês. Num jogo eletrônico, é um tipo de magia que um personagem usa para apressar ações</dt> – suas ou dos outros.</dd>

        <dt>Hentai</dt> – <dd>Termo genérico usado no Ocidente para designar pornografia desenhada japonesa.</dd>

        <dt>High score</dt> – <dd>pontuação mais elevada no pódio de um jogo.</dd>

        <dt>LED</dt> – <dd>sigla de “diodo emissor de luz” em inglês. Tipo de lâmpada utilizada em aparelhos eletrônicos (especialmente no botão liga-desliga).</dd>

        <dt>Level</dt> – <dd>tem dois sentidos. Pode ser a fase de um jogo, que pode conter um subchefe a ser derrotado; e pode ser o nível do personagem (especialmente em RPGs), que vai subindo conforme ele adquire experiência e engloba subitens como vitalidade, resistência e magia.</dd>

        <dt>Life</dt> – <dd>Vida em inglês. Dado do jogo que simboliza a vida do personagem. A vida é representada geralmente como uma barra no canto da tela ou número de pontos (HP, hit points), e diminui conforme o personagem vai sofrendo danos. Pode aumentar de novo se o personagem descansar ou usar um dos itens de recuperação disponíveis no jogo (por exemplo, kits de primeiros socorros e alimentos).</dd>

        <dt>Loot</dt> – <dd>Despojos de batalha dos inimigos derrotados. Em português, poderia ser traduzida por butim; quando usada como verbo (to loot), quer dizer saquear.</dd>

        <dt>Main quest</dt> – <dd>missão principal do jogo. Concluí-la conclui o jogo.</dd>

        <dt>Maverick GT (Gran Turismo) V8</dt> – <dd>carro clássico da Ford que foi fabricado no Brasil entre 1973 e 1979. Sua primeira configuração nacional tinha motor V8.</dd>

        <dt>MMORPG ou simplesmente MMO</dt> – <dd>“massive multiplayer online role playing game”. RPG jogado em rede entre milhares de jogadores ao mesmo tempo, em que a história avança mas não há um final. Exemplo: World of Warcraft. (Ver RPG)</dd>

        <dt>Mod</dt> – <dd>modificação visual ou funcional em um jogo ou aparelho feita por terceiros (que não os fabricantes originais).</dd>

        <dt>Mundo aberto</dt> – <dd>Quando o jogo tem poucas ou nenhuma restrição de movimentação geográfica. O que limita a movimentação do jogador na realidade é o seu nível de habilidade. Exemplos: GTA, Red Dead Redemption, a maioria dos MMOs.</dd>

        <dt>Noob, nooba</dt> – <dd>grafia alternativa de newbie (“novato”, em inglês). Alguém que ainda não absorveu as normas sociais de determinado ambiente, especialmente um ambiente virtual. A forma feminina nooba é invenção brasileira.</dd>

        <dt>NPC</dt> – <dd>Non-player characters (personagens não jogadores). São os figurantes e coadjuvantes do jogo, controlados por inteligência artificial.</dd>

        <dt>OWNED– <dd>exclamação de vanglória dita ao perdedor após uma derrota humilhante</dt> – não necessariamente por aquele que o derrotou, mas por qualquer testemunha da derrota. E não necessariamente em jogos. (Variações: ownar, ownado, ownage, pwned...)</dd>

        <dt>Party</dt> – <dd>Seu grupo aliado num jogo de RPG.</dd>

        <dt>Puzzle</dt> – <dd>literalmente, quebra-cabeça. Problema, enigma ou dilema a ser resolvido com astúcia, e não pela força, dentro de um jogo.</dd>

        <dt>Quest</dt> – <dd>missão em um jogo.</dd>

        <dt>Respawnar – <dd>Forma aportuguesada do verbo inglês to respawn. O inimigo respawna quando renasce no mesmo local algum tempo depois de ser morto</dt> – geralmente algum tempo depois que o jogador saiu.</dd>

        <dt>Roubar kill ou kill steal</dt> – <dd>“Roubar kill” é quando um jogador espera outro quase matar um inimigo e só entra na briga para desferir o golpe de misericórdia, “roubando” assim os pontos daquele que teve a maior parte do trabalho. é um ato considerado extremamente antiético, e pode acontecer sem querer (ver level).</dd>

        <dt>RPG</dt> – <dd>“role playing game”. Originalmente, um jogo de mesa sem tabuleiro em que cada jogador do grupo interpreta um papel em um mundo de fantasia coordenado por outro jogador (o “mestre”). Surgiram muitas variações, entre elas o livro-jogo de aventuras para jogar sozinho, com dados e outros materiais. Há também o RPG eletrônico. Em qualquer um deles, conforme a aventura se desenrola, o personagem de cada jogador vai acumulando pontos de experiência, destreza, força, inteligência, entre outros, com o objetivo de se tornar mais forte e derrotar os inimigos.</dd>

        <dt>Safe spot</dt> – <dd>Lugar imune aos ataques de inimigos em jogos.</dd>

        <dt>Sandbox</dt> – <dd>Jogo que não tem um objetivo ou roteiro declarados e foca na liberdade de ação do jogador. Exemplo: Minecraft.</dd>

        <dt>Save game ou simplesmente save</dt> – <dd>jogo salvo em um determinado ponto de seu progresso para ser continuado depois.</dd>

        <dt>Save point</dt> – <dd>ponto que permite ao jogador salvar seu progresso até o momento.</dd>

        <dt>Schrödinger</dt> – <dd>o gato de Schrödinger é um experimento mental criado para demonstrar alguns supostos absurdos deriváveis da aplicação da física quântica de Bohr. Nele, um gato é lacrado em uma caixa que irá liberar veneno caso uma partícula subatômica decaia (o que é um evento aleatório). Segundo a escola de Copenhague, seria preciso considerar o gato vivo e morto ao mesmo tempo até o experimento terminar, mas ao abrir a caixa o observador teria certeza do estado do gato ao vê-lo vivo ou morto, e não um gato zumbi. André comete um erro ao tentar encaixar a situação que viveu nesse conceito; ele só poderia culpar alguém dentro da história por ter aberto a caixa, e não por ter criado a caixa ou matado o gato.</dd>

        <dt>Side quests</dt> – <dd>missões secundárias do jogo, opcionais. Histórias auxiliares ao fio condutor da história do jogo. Geralmente é preciso completar algumas side quests para tornar a main quest (missão principal) mais fácil de superar. Outros jogadores as completam por querer ver mais do que o jogo tem para mostrar.</dd>

        <dt>Spam</dt> – <dd>E-mails não solicitados, especialmente de propaganda para produtos e serviços pagos.</dd>

        Spoiler - Do inglês to spoil (estragar). Spoiler é a revelação de algum detalhe crucial do enredo de uma história.

        <dt>Taser</dt> – <dd>Arma de choque, fabricada pela Taser (nome comercial).</dd>

        <dt>The Sims</dt> – <dd>simulador da vida humana cujo objetivo é fazer os personagens, criados e controlados nos mínimos detalhes pelo jogador, terem vidas gratificantes e realizadas.</dd>

        <dt>Top de linha</dt> – <dd>jargão para modelo de computador com as melhores tecnologias do mercado em uma determinada época.</dd>

        <dt>Upgrade</dt> – <dd>Atualização de modelo ou versão antiquado de computador ou programa.</dd>

        <dt>Walkthru ou Walkthrough</dt> – <dd>Guia detalhado de como completar o jogo, inclusive indicando onde segredos podem ser encontrados. Também conhecido como detonado ou passo a passo. O walkthru é visto como muitos jogadores como trapaça. Outros o consideram um recurso legítimo a ser usado apenas em caso de extrema necessidade. Pode deixar qualquer jogo sem graça caso seja usado em demasia.</dd>
    </dl>
{% endblock %}