{% extends "base.html" %}
{% block content %}

<p><strong>OWNED - um novo jogador</strong> é um jogo interativo. Você decide o final.</p>

<p>Em <strong>OWNED</strong> você é André, um técnico de informática viciado em videogames que vai tentar conquistar pelo menos uma dentre <strong>sete</strong> garotas. Para jogar, basta clicar em uma das opções no final de cada trecho de história, dando um rumo à vida de André.</p>

<p>Você pode salvar o jogo e pode jogar de novo quantas vezes quiser. É grátis!</p>

<p><span class="warning">Recomendado para maiores de 18 anos.</span></p>

<ul class="navigation-buttons">
    <li><a class="button button-flat-highlight" href="/new_game">New game</a></li>
    <li><a class="button button-flat-highlight" href="/continue">Continue</a></li>
    <li><a class="button button-flat-highlight" href="http://simonecampos.net">Quit</a></li>
</ul>

{% endblock %}