{% block login %}
<div class="loginbar">
{% if not user.is_authenticated %}
    <form action="/login/" method="post" id="login-form">{% csrf_token %}
        <label for="id_username" class="required">Login:</label>
        <input id="id_username" maxlength="254" name="username" type="text" class="form-control">
        
        <label for="id_password" class="required">Senha:</label>
        <input id="id_password" name="password" type="password" class="form-control">

        <input type="submit" value="Login" class="btn btn-default btn-small">
        <a href="/registro/" class="btn btn-default btn-small">Cadastrar</a>
    </form>
{% else %}
        <div class="userinfo">
            JOGADOR: {{ user.username }}
        </div>
        <a class="btn btn-default btn-small btn-logout" href="/password/change">Alterar senha</a>
        <a class="btn btn-default btn-small btn-logout" href="/logout">Logout</a>
{% endif %}
</div>

{% endblock %}