{% extends "base.html" %}

{% block title%}Recomendações{% endblock %}

{% block content %}
<div class="staticpage">
    <h1>Recomendações</h1>

    Obras, pessoas e materiais que influenciaram, inspiraram ou têm algum parentesco com Owned*.


    <h2>Literatura:</h2>
        <p>As 1001 noites - <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8525039683" target="_blank">volume 1</a> - <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8525039691" target="_blank">volume 2</a> - <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8525039705" target="_blank">volume 3</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8535911529" target="_blank">A defesa Lujin,</a> - Nabokov</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8573263105" target="_blank">Um jogador</a> - Dostoiévski <a href="#biblio">**</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8579620015" target="_blank">O Mestre e Margarita</a> - Bulgakov</p>
        <p>Dom Quixote (<a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8573264578" target="_blank">vol. 1</a> e <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8573264586" target="_blank">vol. 2</a>) e <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8560499210" target="_blank">Novelas exemplares</a> - Cervantes <a href="#biblio">**</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=9721058130" target="_blank">Chesterton</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=857715100x" target="_blank">Edgar Allan Poe</a> <a href="#biblio">**</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8576164590" target="_blank">Neil Gaiman</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8535911235" target="_blank">Borges</a> <a href="#biblio">**</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=9721022187" target="_blank">Philip K. Dick</a></p>
        <p><a href="http://ebooksgratis.com.br/livros-ebooks-gratis/literatura-nacional/romance-sexo-anal-uma-novela-marrom-luiz-biajoni/">Sexo anal</a> e Virgínia Berlim - Biajoni</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8525046612" target="_blank">Admirável mundo novo </a>- Aldous Huxley <a href="#biblio">**</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8575322486" target="_blank">A corrida do rinoceronte</a> - Roberto Causo</p>
        <p><a href="http://www.bibliaonline.com.br/">Bíblia</a> <a href="#biblio">**</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8576570033" target="_blank">Laranja mecânica </a>- Burgess</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8571102015" target="_blank">Será que Deus joga dados? - A nova matemática do caos</a><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8571102015" target="_blank"> - Ian Stewart</a></p>
        <p>Série Poderosa - Sérgio Klein  <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=857676024x" target="_blank">livro 1</a> - <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8576765373" target="_blank">livro 2</a> - <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8576761785" target="_blank">livro 3</a> - <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8576764679" target="_blank">livro 4</a> - <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8576767899" target="_blank">livro 5</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8585490497" target="_blank">Deleuze &amp; Guattari</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8571646856" target="_blank">A metamorfose</a> - Franz Kafka <a href="#biblio">**</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8501079154" target="_blank">A menina sem qualidades</a> - Juli Zeh</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8535227407" target="_blank">Freakonomics</a> e <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8535237283" target="_blank">Superfreakonomics</a> - Levitt e Dubner</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8537802786" target="_blank">Os três mosqueteiros</a> - Dumas <a href="#biblio">**</a></p>
        <p>Série<a href="http://www.estantevirtual.com.br/q/angelica-marquesa">Angélica</a> - Anne e Serge Golon</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8525049344" target="_blank">Monteiro Lobato</a> <a href="#biblio">**</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8501061964" target="_blank">Malba Tahan</a> <a href="#biblio">**</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8532511015" target="_blank">J.K. Rowling</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=009943797x" target="_blank">Non fiction</a><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=009943797x" target="_blank"> - Chuck Palahniuk</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8522007276" target="_blank">A vida como ela é </a>- Nelson Rodrigues</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8571644489" target="_blank">Raízes do Brasil</a> - Sérgio Buarque de Hollanda <a href="#biblio">**</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8525410241" target="_blank">Macbeth</a> - Shakespeare <a href="#biblio">**</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8575321277" target="_blank">Jesus Kid</a> - Lourenço Mutarelli</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8511120300" target="_blank">Walter Benjamin</a></p>
        <p>O fictício e o imaginário - Iser</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8525406872" target="_blank">Machado de Assis</a> <a href="#biblio">**</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8501913006" target="_blank">O homem nu</a> - Fernando Sabino <a href="#biblio">**</a></p>
        <p><a href="http://www.estantevirtual.com.br/q/karl-buhler-lenguaje">Teoría del lenguaje</a> - Karl Bühler</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8572342885" target="_blank">Dedo negro com unha</a> - Daniel Pellizzari</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=852541123x" target="_blank">O médico e o monstro</a> (ou <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8560499245" target="_blank">O estranho caso do dr. Jekyll e Sr. Hyde</a>) - Robert Louis Stevenson <a href="#biblio">**</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8501091618" target="_blank">A verdade lançada ao solo </a>- Paulo Rosenbaum</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8520009484" target="_blank">O problema dos desconhecidos </a>- Terry Eagleton</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=0486266842" target="_blank">The turn of the screw</a> (ou <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8525417297" target="_blank">A volta do parafuso</a>) - Henry James</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8531600294" target="_blank">Aula</a> - Roland Barthes <a href="#biblio">**</a></p>
        <p>Malleus Maleficarum (disponível <a href="http://www.malleusmaleficarum.org" target="_blank">online em inglês</a>, acesso grátis)</p>
        <p><a href="http://www.estantevirtual.com.br/q/morte-sem-nome">A morte sem nome</a> - Nazarian</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=853252592x" target="_blank">Areia nos dentes</a> - Xerxenesky</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8535908099" target="_blank">Mãos de cavalo</a> - Galera</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8503005476" target="_blank">Campos de Carvalho</a></p>
        <p>Risa Wataya (livros <a href="http://www.amazon.fr/Install-Risa-Wataya/dp/2809700877/ref=sr_1_4?ie=UTF8&amp;qid=1322503708&amp;sr=8-4" target="_blank">Install</a> e <a href="http://www.amazon.fr/Appel-du-pied-Risa-Wataya/dp/2809700168/ref=sr_1_2?ie=UTF8&amp;qid=1322503708&amp;sr=8-2" target="_blank">L'appel du pied</a> disponíveis em francês)</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8501085286" target="_blank">Ana Paula Maia</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=0674025199" target="_blank">Gamer Theory</a> - Wark (também disponível <a href="http://www.futureofthebook.org/gamertheory/" target="_blank">online</a> em inglês, acesso grátis)</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=0143116932" target="_blank">DFW</a></p>
        <p><a href="http://cma.fgv.br/sites/default/files/CursoAnaliseReal_CassioNeri.pdf" target="_blank">Curso de análise real</a>- Cassio Neri (online, acesso grátis)</p>
        <p><a href="http://oquarteto.com/" target="_blank">O quarteto do quarto andar </a>- Victoria Saramago (online, acesso grátis)</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8571393370" target="_blank">Introdução à lógica </a>- Cezar Mortari</p>
        <p><a href="http://professorjoselias.blogspot.com/2011/08/curso-completo-de-logica-para-concursos_24.html">Raciocínio Lógico </a>- Joselias Santos da Silva</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=0141181877" target="_blank">Ada or Ardor </a><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=0141181877" target="_blank">- Nabokov</a></p>
        <p><a href="http://www.estantevirtual.com.br/q/manu-ouvir" target="_blank">Manu, a menina que sabia ouvir</a> ou <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8533603819" target="_blank">Momo</a> - Michael Ende</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8501018341" target="_blank">Dalton Trevisan</a></p>
        <p>Drummond - crônica Pesadelo Eletrônico (no livro <a href="http://www.estantevirtual.com.br/q/moca-deitada-grama" target="_blank">Moça deitada na grama</a>)</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8526011014" target="_blank">João Carlos Marinho</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=0884118843" target="_blank">Robert Heinlein</a></p>
        <p><a href="http://www.estantevirtual.com.br/q/pequena-morte-silverberg" target="_blank">Uma pequena morte</a> - Robert Silverberg</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=0425158640" target="_blank">Idoru</a> e  <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8576570475" target="_blank">Reconhecimento de padrões</a> - William Gibson</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=850106520x" target="_blank">Abusado</a> - Caco Barcellos</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8560281975" target="_blank">O livro dos mandarins</a> - Ricardo Lísias</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=853252172x" target="_blank">Margaret Atwood</a></p>
        <p><a href="http://www.estantevirtual.com.br/q/porra-ximenes" target="_blank">Porra</a> - João Ximenes Braga</p>
        <p><a href="http://www.estantevirtual.com.br/q/caos-gleick" target="_blank">Caos - a criação de uma nova ciência </a>- James Gleick</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8525417513" target="_blank">Os Lusíadas</a> - Camões</p>


    <h2>Meus livros anteriores:</h2>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8573882107" target="_blank">No shopping</a></p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8575773054" target="_blank">A feia noite</a></p>
        <p><a href="http://penadosyrebeldes.blogspot.com/" target="_blank">Penados y Rebeldes</a> (online, acesso grátis)</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8575775596" target="_blank">Amostragem complexa</a></p>
        <p>Compre a <a href="http://www.7letras.com.br/owned-um-novo-jogador.html" target="_blank">versão impressa</a> ou digital (em breve) do livro-jogo OWNED! Vem com walkthru e textos extras!</p>


    <h2>Livros-jogos</h2>
        <p>Série <a href="http://www.estantevirtual.com.br/q/edward-packard" target="_blank">Enrola e desenrola</a></p>
        <p><a href="http://www.estantevirtual.com.br/q/hiperespaco-packard" target="_blank">Viagem ao hiperespaço</a> - Edward Packard</p>
        <p>Série <a href="http://www.estantevirtual.com.br/q/aventuras-fantasticas" target="_blank">Aventuras fantásticas</a></p>


    <h2>Movimentos literários</h2>
        <p>Nouveau Roman</p>
        <p>OuLiPo</p>


    <h2>Animes/mangás:</h2>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=0759529442" target="_blank">A melancolia de Haruhi Suzumiya</a> - light novel por Tanigawa (também em anime e mangá)</p>
        <p>Serial Experiments Lain (anime)</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=1598166786" target="_blank">Welcome to the NHK</a> (mangá em inglês; também em anime)</p>
        <p>Excel Saga(existe o anime dublado em português; mangá em inglês)</p>
        <p><a href="http://www.estantevirtual.com.br/q/death-note" target="_blank">Death note</a> (mangá em português; também em anime e filme)</p>
        <p><a href="http://www.estantevirtual.com.br/q/battle-royale" target="_blank">Battle Royale</a> (mangá em português; também em anime e filme)</p>
        <p>The World God Only Knows (anime em inglês)</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=5095889" target="_blank">Akira</a></p>


    <h2>Quadrinhos ocidentais:</h2>
        <p><a href="http://www.estantevirtual.com.br/q/gonick-computacao" target="_blank">Introdução ilustrada &amp;agave; computação</a> - Larry Gonick</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8575322508" target="_blank">Luluzinha</a> - Marjorie Buell</p>
        <p><a href="http://www.megatokyo.com/" target="_blank">Megatokyo</a> por Gallagher e Caston (em inglês, grátis)</p>
        <p><a href="http://www.pvponline.com/" target="_blank">PvP Online</a> por Kurtz (em inglês, grátis)</p>
        <p><a href="http://www.penny-arcade.com/comic/" target="_blank">Penny Arcade</a> por Krahulik e Hopkins (em inglês, grátis)</p>
        <p>Tira dos <a href="http://verbeat.org/laerte/2010/01/pintinhos-3.html" target="_blank">Pintinhos</a> por Laerte (em português, grátis)</p>
        <p>Tira <a href="http://xkcd.com/706/" target="_blank">Freedom</a>, de <a href="http://xkcd.com" target="_blank">xkcd</a>, por Randall Munroe (em inglês, grátis)</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8535916164" target="_blank">Scott Pilgrim</a> por Brian Lee O'Mailey</p>
        <p><a href="http://www.qwantz.com/index.php?comic=1486" target="_blank">Dinosaur comic</a> por Ryan North/Andrew Hussie (em inglês, grátis)</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8578272781" target="_blank">Logicomix</a> por Doxiadis e Papadimitriou</p>


    <h2>Filmes:</h2>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=3023434" target="_blank">13º andar</a> por Rusnak</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=3060182" target="_blank">Endiabrado </a>por Ramis</p>
        <p>Avalon por Oshii</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=3028172" target="_blank">O mágico de Oz </a>por Fleming</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=3105721" target="_blank">Zardoz </a> por Boorman</p>
        <p>Brazil, o filme por Gilliam</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=2941613" target="_blank">Boa noite e boa sorte</a> por Clooney</p>
        <p>Pi por Aronofsky</p>
        <p>Ringu por Nakata (adaptado do <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=0007240139" target="_blank">romance</a> de Suzuki)</p>
        <p>O chamado por Verbinski</p>
        <p>Dark water por Nakata</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=3250836" target="_blank">8 ½</a> por Fellini</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=22484224" target="_blank">Donnie Darko</a> por Kelly</p>
        <p>Audition por Miike</p>
        <p>1001 noites de Pasolini</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=2626239" target="_blank">O império dos sentidos </a>por Oshima</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=11033480" target="_blank">Anticristo</a> por Von Trier</p>
        <p>Demonlover por Assayas</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=3197401" target="_blank">Uma mente brilhante</a> por Howard</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=5063022" target="_blank">Mais estranho que a ficção</a> por Forster</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=3246787" target="_blank">Feitiço do tempo </a>por Ramis</p>
        <p>Rubber por Dupieux (Mr. Oizo)</p>
        <p>Scanners - Sua mente pode destruir por Cronemberg</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=3064187" target="_blank">A história sem fim </a>por Petersen (adaptado do romance de Ende)</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=5064254" target="_blank">O pacto</a> por Sono</p>


    <h2>Jogos:</h2>
        <p><a href="http://tesshi-m.web.infoseek.co.jp/game_1.html" target="_blank">Mild Escapes</a> (série de Tesshi-e - gratuita)</p>
        <p><a href="http://neutralxe.net/esc/index.html" target="_blank">Neutral Escapes</a> (série de Mya - gratuita)</p>
        <p>Leisure Suit Larry (por Sierra Entertainment)</p>
        <p>Série  <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=22722892" target="_blank">The Sims</a> (por Will Wright/Maxis)</p>
        <p><a href="http://www.playalterego.com/alterego" target="_blank">Alter Ego</a> (por Favaro)</p>
        <p>Braid (por Jonathan Blow)</p>
        <p><a href="http://www.rodvik.com/rodgames/marriage.html" target="_blank"> The Marriage </a>(por Rod Humble)</p>
        <p><a href="http://members.chello.at/theodor.lauppert/games/bop.htm" target="_blank"> BoP - Balance of Power</a> (por Chris Crawford)</p>
        <p>Chrono Trigger (por Square)</p>
        <p><a href="http://www.myabandonware.com/game/populous-qk" target="_blank">Populous</a> (por Bullfrog)</p>
        <p><a href="http://www.gameswin.biz/game.php?id=115" target="_blank">Legend of Kyrandia 2 - The Hand of Fate</a> (por Westwood)</p>
        <p><a href="http://store.steampowered.com/app/32360/" target="_blank">Monkey Island</a> (por LucasArts)</p>
        <p><a href="http://games.kidswb.com/official-site/scribblenauts/index2.html#/?cc=po&amp;page=home&amp;ver=2" target="_blank">Scribblenauts</a>  (por 5thCell)</p>
        <p>Torment (por Planescape)</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=15009227" target="_blank">Heavy Rain</a> (por Quantic Dream)</p>
        <p>Outrun (por Yu Suzuki/Sega-AM2)</p>
        <p>Castlevania (por Konami)</p>
        <p>Keystone Kapers ou "jogo do guardinha" (por Atari/Activision)</p>
        <p>Uncharted Waters 2: New Horizons (por Koei)</p>
        <p>(e todos os outros)</p>


    <h2>Seriados:</h2>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=2712062" target="_blank">Veronica Mars </a>(por Thomas)</p>
        <p>Densha Otoko (Train Man) (baseada no <a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=0345498690" target="_blank">romance de Nakano, disponível em inglês</a>)</p>
        <p><a href="http://www.watchtheguild.com/" target="_blank">The Guild</a> (online e grátis, por Day)</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=5024293" target="_blank">Twin Peaks </a>(por David Lynch)</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=7012354" target="_blank">Lost </a>(por Lieber/Abrams/Lindelof)</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=25&amp;nitem=9038583" target="_blank">Fringe </a>(por Abrams/Kurtzman/Orci)</p>


    <h2>Teatro:</h2>
        <p>Nelson Rodrigues</p>
        <p>Beckett</p>
        <p>Brecht</p>
        <p>A prova - David Auburn</p>

    <h2>Novela:</h2>
        <p><a href="http://www.youtube.com/watch?v=2dMri3xbKv0" target="_blank">Vamp</a></p>


    <h2>Música:</h2>
        <p><a href="http://www.youtube.com/watch?v=0P3lhrwio-M" target="_blank">Debaser - Pixies</a></p>
        <p><a href="http://www.youtube.com/watch?v=ST86JM1RPl0" target="_blank">Everybody Wants to Rule the World</a> - Tears for Fears</p>
        <p><a href="http://www.zumbidomato.com/" target="_blank">Zumbi do Mato</a></p>
        <p><a href="http://www.rogerioskylab.com.br/" target="_blank">Rogério Skylab</a></p>
        <p><a href="http://www.youtube.com/watch?v=Mb3iPP-tHdA" target="_blank">A Whiter Shade of Pale</a> - Procol Harum</p>
        <p><a href="http://www.youtube.com/watch?v=7AQSLozK7aA" target="_blank">There There</a> - Radiohead</p>
        <p><a href="http://www.youtube.com/watch?v=aGSKrC7dGcY" target="_blank">Enjoy the silence</a> - Depeche Mode</p>
        <p><a href="http://www.youtube.com/watch?v=j9gX26AdFLo" target="_blank">Down in the Tube Station at Midnight</a> - The Jam</p>
        <p><a href="http://www.youtube.com/watch?v=vOgoVO44mVo" target="_blank">Diversões eletrônicas</a> - Arrigo Barnabé</p>
        <p><a href="http://www.youtube.com/watch?v=cZj9oQ-5aaY" target="_blank">No Way Back</a> - Adonis</p>
        <p><a href="http://www.youtube.com/watch?v=n35C0j3LLB0" target="_blank">Here is Where the Story Ends</a> - The Sundays</p>

    <h2>Videoclipes:</h2>
        <p><a href="http://www.youtube.com/watch?v=Qt_1KoTE1hE " target="_blank">Video Computer System</a> - Golden Shower</p>
        <p><a href="http://www.youtube.com/watch?v=gzJT0rElo0c" target="_blank">Be There</a> - U.N.K.L.E.</p>

    <h2>Gente:</h2>
        <p>Deus</p>
        <p><a href="http://pt.wikipedia.org/wiki/Roberta_Williams" target="_blank">Roberta Williams</a></p>
        <p><a href="http://pt.wikipedia.org/wiki/Ada_lovelace" target="_blank">Ada Lovelace</a></p>
        <p><a href="http://pt.wikipedia.org/wiki/Houdini" target="_blank">Houdini</a></p>
        <p><a href="http://pt.wikipedia.org/wiki/Hedy_lamarr" target="_blank">Hedy Lamarr</a></p>
        <p><a href="http://pt.wikipedia.org/wiki/Hilda_hilst" target="_blank">Hilda Hilst</a></p>
        <p><a href="http://pt.wikipedia.org/wiki/Hipátia" target="_blank">Hipátia</a></p>
        <p><a href="http://pt.wikipedia.org/wiki/Chacrinha" target="_blank">Chacrinha</a></p>
        <p><a href="http://en.wikipedia.org/wiki/Daina_Taimina" target="_blank">Daina Taimina</a> (artigo em inglês)</p>


    <h2>Aulas:</h2>
        No colégio Anglo-Americano:
            - Aula de informática, segunda série do fundamental
            - Aulas sobre conjuntos, ensino fundamental
            - Aulas sobre fundamentos de geometria, quarta série do fundamental
        No curso de jornalismo da UFRJ:
            - Comunicação e discurso com Milton Pinto
        No curso de produção editorial da UFRJ:
            Todas as matérias, mas especialmente
                - Linguagens digitais com Cristina Haguenauer
                - Armazenamento e recuperação de dados de edição com Luís Carlos Paternostro
                - Gêneros literários com Isabel Travancas
        e a aula do prof. Oswaldo Chateaubriand na PUC, Tópicos em lógica matemática.


    <h2>Outros:</h2>
        <p><a href="http://desciclo.pedia.ws/" target="_blank">Desciclopédia</a></p>
        <p>Lei de Gérson</p>
        <p>O Homem Cordial</p>
        <p>Nouveau Roman</p>
        <p><a href="http://en.wikipedia.org/wiki/Sunk_cost_dilemma" target="_blank">Sunk cost fallacy/dilemma</a> (<a href="http://www.skepdic.com/brazil/custoirrecup.html" target="_blank">Falácia</a>/dilema do custo irrecuperável)</p>
        <p><a href="http://pt.scribd.com/doc/56854565/12/O-problema-de-Newcomb-e-os-dois-principios-de-decisao" target="_blank">Problema de Newcomb</a></p>

    <h2>"Nunca li, mas contém"</h2>
        <p>Fausto</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8520002986" target="_blank">Jogo da amarelinha</a> - Cortázar</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8571649049" target="_blank">Se um viajante numa noite de inverno </a>- Calvino</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8522007705" target="_blank">Macunaíma</a> - Mário de Andrade</p>
        <p>Kierkegaard</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8574922056" target="_blank">A educação sentimental</a> - Flaubert</p>
        <p><a href="http://www.livrariacultura.com.br/scripts/cultura/externo/index.asp?id_link=6397&amp;tipo=2&amp;isbn=8500014792" target="_blank">A história de O</a> - Réage</p>
        <p>Lacan</p>
        <p>Wittgenstein</p>


    <h2>Sites e textos avulsos</h2>
    <h3>Em português</h3>
        <p>Blog <a href="http://www.savegame.com.br/" target="_blank">Save game</a></p>
        <p>Texto <a href="http://sweet.ua.pt/~f660/docs/Deleuze_DR.pdf" target="_blank">Deleuze: a pluralidade metafísica</a> (por Rui Magalhães)</p>
        <p>Texto <a href="http://www.aetern.us/article-print-135.html" target="_blank">A Fortaleza da Solidão na nova casa de Matacavalos</a> (por Luiz Fernando Gallego no Encontro Machado de Assis e a Psicanálise no século XXI)</p>
        <p>Texto <a href="http://www.mat.puc-rio.br/~hjbortol/bienal/M45.pdf" target="_blank">Uma introdução a Teoria dos Jogos</a> (por Brígida Sartini, Gilmar Garbugio, Humberto Bortolossi, Polyane Santos e Larissa Barreto)</p>
        <p>Texto <a href="http://www.letras.ufrj.br/ciencialit/garrafa6/17.html" target="_blank">Os jogos de sentidos ficcionais em Jasmine e Alias Grace </a>(por Luiz Manoel Oliveira na revista Garrafa)</p>
        <p>Texto <a href="http://sivers.org/drama" target="_blank">O drama, segundo Kurt Vonnegut </a>(por Derek Sivers)</p>
        <p>Texto <a href="http://www.scielo.br/scielo.php?script=sci_arttext&amp;pid=S0103-40141995000100010" target="_blank">O dilema do prisioneiro e a ética</a> (por Isaac Epstein)</p>
        <p>Texto <a href="http://www.estadao.com.br/estadaodehoje/20091030/not_imp458618,0.php" target="_blank">O laboratório existencial de Nelson Rodrigues </a>(por Luiz Oricchio em O Estado de São Paulo)</p>
        <p>Texto <a href="http://www.eventos.uevora.pt/conhecimento_proibido/contributos/23_6_2003/Maria_Ant%F3nia_Lima_perversao_e_criacao__1_.htm" target="_blank">O paradoxo da criação </a>(por Maria Antónia Lima)</p>
        <p>Texto <a href="http://www.portalliteral.com.br/artigos/o-romance-nao-existe-por-raimundo-carrero" target="_blank">O romance não existe</a> (por Raimundo Carrero no Jornal do Brasil)</p>
        <p>Texto <a href="http://www.livrariacultura.com.br/scripts/cultura/resenha/resenha.asp?nitem=22057285&amp;sid=7115245471316656245311546&amp;k5=26C6CF5B&amp;uid=" target="_blank">Virando o jogo </a>(por Daniel Galera na revista Serrote)</p>
        <p>Texto <a href="http://www.bocc.ubi.pt/pag/_texto.php3?html2=silva-jm-adorno-benjamin.html" target="_blank">"Já não se sonha mais com a flor azul" - A estética de Theodor Adorno e Walter Benjamin</a> (por José Manuel Silva)</p>
        <p>Texto <a href="http://www.entrelinhas.unisinos.br/index.php?e=7&amp;s=9&amp;a=48" target="_blank">A experiência estética da leitura</a> (por Rejane Pivetta e Tatiana Matzenbacher na revista Entrelinhas)</p>
        <p>Texto <a href="http://santiagonazarian.blogspot.com/2009/01/dracula-meets-dogville-passei-anos-e.html" target="_blank">Dracula Meets Dogville</a> (por Santiago Nazarian no blog Jardim Bizarro)</p>
        <p>Texto <a href="http://www.ple.uem.br/3celli_anais/trabalhos/estudos_literarios/pdf_literario/057.pdf" target="_blank">Fictício e imaginário no romance Sem nome: episódios da literatura e da vida real</a> (por Juliana Cancian)</p>
        <p>Texto <a href="http://www.gelne.ufc.br/revista_ano2_no2_33.pdf" target="_blank">A dêixis discursiva, formas de representação do sujeito, do tempo e do espaço no discurso</a> (por Maria Virgínia Borges na revista do GELNE)</p>
        <p>Blog <a href="http://wowgirl.com.br/" target="_blank">WowGirl</a></p>
        <p>Texto <a href="http://www.traco-freudiano.org/veredas/veredas-4/index-veredas-4.html" target="_blank">O todo que regra um não todo</a> (por Taciana Mafra na revista Veredas 4)</p>
        <p>Texto <a href="http://www.educacaopublica.rj.gov.br/biblioteca/matematica/0004.html" target="_blank">O paradoxo de Alice e o de Dom Quixote</a> (por Gerusa de Araújo)</p>
        <p>Texto <a href="http://www.google.com.br/url?sa=t&amp;source=web&amp;cd=3&amp;ved=0CC0QFjAC&amp;url=http%3A%2F%2Febooks.pucrs.br%2Fedipucrs%2Fanais%2FIICILLIJ%2FNORBERTO.pdf&amp;ei=-4XVTcebF-j20gGllPWTBw&amp;usg=AFQjCNHA-ACnvcmHviJwZXS5KSDgIwaHsg" target="_blank">Jogos textuais em O jogador, de Dostoiévski</a> (por Norberto Perkoski)</p>

    <h3>Em inglês</h3>
        <p>Texto <a href="http://www.1up.com/features/sims-2-experience?pager.offset=0" target="_blank">The Sims 2 Experience: A Gameplay Diary</a> (por Scott Sharkey)</p>
        <p>Blog <a href="http://insultswordfighting.blogspot.com/" target="_blank">Insult Swordfighting</a></p>
        <p>Site <a href="http://tvtropes.org" target="_blank">TV Tropes</a></p>
        <p>Texto <a href="http://insultswordfighting.blogspot.com/2008/01/new-taxonomy-of-gamers-what-we-talk.html" target="_blank">A new Taxonomy of Gamers</a> (por Mitch Krpata)</p>
        <p>Texto <a href="http://www.mathnews.uwaterloo.ca/Issues/mn7807/dating.html" target="_blank">Everything I needed to know, I learned by playing Japanese dating-simulation video games</a> (por Drew Hamilton)</p>
        <p>Wikipedia: verbete <a href="http://en.wikipedia.org/wiki/Object-oriented_programming" target="_blank">Object-oriented Programming</a></p>
        <p>Wikipedia: verbete <a href="http://en.wikipedia.org/wiki/Nondeterministic_programming" target="_blank">Nondeterministic Programming</a></p>
        <p>Resenha do dating sim <a href="http://www.gamefaqs.com/pc/917412-casual-romance-club/reviews/review-132187" target="_blank">Casual Romance Club</a> (por Ragn_Charran)</p>
        <p>Texto <a href="http://www.adventureclassicgaming.com/index.php/site/features/423/" target="_blank">Adventure Game Puzzles: Unlocking the Secrets of Puzzle Design</a> (por Mark Newsheiser no site Adventure Classic Gaming)</p>
        <p>Texto <a href="http://www.escapistmagazine.com/articles/view/issues/issue_41/247-Game-Rules-as-Art" target="_blank">Game Rules as Art </a>(por Rod Humble no site The Escapist)</p>
        <p>Texto <a href="http://fictionwritersreview.com/essays/games-are-not-about-monsters" target="_blank">Games Are Not About Monsters</a> (por Christine Hartzler no site Fiction Writers Review)</p>
        <p>Texto <a href="http://www.gamerswithjobs.com/node/17714" target="_blank">Plastic Razor </a>(por Russ Pitts no site Gamers With Jobs)</p>
        <p>Texto <a href="http://www.edge.org/3rd_culture/kauffman09/kauffman09_index.html" target="_blank">Five Problems in the Philosophy of Mind</a> (por Stuart Kauffman na revista eletrônica Edge)</p>
        <p>Texto <a href="http://www.boingboing.net/2009/11/05/the-examined-life-ke.html" target="_blank">The EXAMINE'd Life: Keeping Interactive Fiction Alive</a> (por Brandon Boyer)</p>
        <p>Texto <a href="http://samizdat.cc/cyoa/" target="_blank">One Book, Many Readings</a> (por Christian Swineheart)</p>
        <p>Site <a href="http://samizdat.cc/cyoa/" target="_blank">Lose the Game</a></p>
        <p>Editorial <a href="http://www.gamesetwatch.com/2010/01/opinion_the_cultural_clash_of.php?utm_source=feedburner&amp;utm_medium=feed&amp;utm_campaign=Feed%3A+gamesetwatch+%28GameSetWatch%29&amp;utm_content=Google+Reader" target="_blank">The Cultural Clash of Bayonetta</a> (por Simon Carless via site Game Set Watch)</p>
        <p>Texto <a href="http://grumpygamer.com/2152210" target="_blank">Why Adventure Games Suck</a> (por Ron Gilbert no blog Grumpy Gamer)</p>
        <p>Texto <a href="http://www.oldmanmurray.com/features/77.html" target="_blank">Who Killed Adventure Games?</a> (por Erik em Old Man Murray)</p>
        <p>Wikipedia: verbete <a href="http://en.wikipedia.org/wiki/Romance_%28genre%29" target="_blank">Romance (genre)</a></p>
        <p>Wikipedia: verbete <a href="http://en.wikipedia.org/wiki/Amadis_de_Gaula" target="_blank">Amadis de Gaula</a></p>
        <p>Wikipedia: verbete <a href="http://en.wikipedia.org/wiki/Final_Girl" target="_blank">Final Girl</a></p>
        <p>Texto <a href="http://mwclarkson.blogspot.com/2010/02/why-i-used-to-love-santa-destroy.html" target="_blank">Why I Used to Love Santa Destroy</a> (por Michael Clarkson)</p>
        <p>Tumblr <a href="http://notgames.tumblr.com/" target="_blank">notgames</a></p>
        <p>Texto <a href="http://www.theatredatabase.com/19th_century/romanticism.html" target="_blank">Romanticism in the Theatre</a> (por Georges Pelissier)</p>
        <p>Tumblr <a href="http://sovietfrequency.tumblr.com/page/20" target="_blank">SovietFrequency</a></p>
        <p>Wikipedia: verbete <a href="http://en.wikipedia.org/wiki/Colossal_Cave_Adventure#Memorable_words_and_phrases" target="_blank">Colossal Cave Adventure</a></p>
        <p>Texto <a href="http://www.racketboy.com/retro/survival-horror/2010/05/survival-horror-101-a-beginners-guide.html?utm_source=feedburner&amp;utm_medium=feed&amp;utm_campaign=Feed%3A+RetrogamingWithRacketboy+%28RetroGaming+With+Racketboy%29&amp;utm_content=Google+Reader" target="_blank">Survival Horror 101: a Beginner's Guide</a> (por Ack)</p>
        <p>Wikipedia: verbete <a href="http://en.wikipedia.org/wiki/God_game" target="_blank">God Game</a></p>
        <p>Texto <a href="http://www.wired.com/gaming/virtualworlds/magazine/16-02/mf_goons?currentPage=all" target="_blank">Mutilated Furries, Flying Phaluses: Put The Blame on Griefers, the Sociopaths of The Virtual World</a> (por Julian Dibbell)</p>
        <p>Texto <a href="http://deleuze's" target="_blank">On Deleuze's "Plato and the Simulacrum" - Establishing the World of Nomadic Distributions and Crowned Anarchies</a> (por evanduq no blog Working on Concepts v. 2)</p>
        <p>Texto <a href="http://www.hks.harvard.edu/fs/mrisse/Papers/Nietzsche/NietzscheAPA.pdf" target="_blank">Nietzsche's 'Trusting and Joyous Fatalism'</a> (por Mathias Risse)</p>
        <p>Texto <a href="http://bad.eserver.org/issues/1997/35/hamilton.html" target="_blank">Virtual Idols and Digital Girls</a> (por Robert Hamilton)</p>
        <p>Texto <a href="http://www.stanford.edu/class/history34q/readings/Cyberspace/StallabrasJustGaming.html" target="_blank">Just Gaming</a> (por Julian Stallabras)</p>
        <p>Texto <a href="http://plato.stanford.edu/archives/spr2009/entries/logic-games" target="_blank">Logic and Games</a> (por Wilfrid Hodges na Stanford Encyclopedia of Philosophy)</p>

    <h3>Em francês</h3>
        <p>Site <a href="http://www.chronicart.com/jeuxvideo/" target="_blank">Chronicart</a></p>
    
    <hr/>

    <div class="small">
        <p><a name="referral">*</a>Os links disponibilizados são para as obras ou para a loja online onde podem ser compradas (e, se você comprar pelo meu link, em alguns casos recebo comissão. Grata!).</p>
        <p><a name="biblio">**</a> Este livro/autor costuma constar de bibliotecas públicas.</p>
    </div>
</div>

{% endblock %}