{% extends "base.html" %}

{% block content %}

{% if not user.is_authenticated %}

    <p>Usuario não autenticado</p>

{% else %}

    <p>Olá, {{ user.username }}</p>
    <form method="post" class="navigation-buttons">{% csrf_token %}
        {% for i in '123' %}
            <li>
                <button type="submit" name="slot" value="{{ i }}" class="btn btn-default btn-small">
                    <div>Slot {{ i }}</div>
                    {% if not slot.i.is_started %}
                        <div>NEW GAME</div>
                    {% else %}
                        <div>Capitulo {{ slot.current_chapter }}</div>
                    {% endif %}
                </button>
            </li>
        {% endfor %}
    </form>
{% endif %}

{% endblock %}