{% extends "core/base.html" %}

{% block title %}Recuperar senha{% endblock %}

{% block content %}
<div class="signup">
    {% if validlink %}

    <h1>Digite sua nova senha</h1>

    <form action="" method="post" class="signupform">{% csrf_token %}
      <div class="field">
        <label class="password-label" for="new_password1">Nova senha</label>
        <input class="{% if form.new_password1.errors %}red{% endif %}" id="new_password1" name="new_password1" size="30" type="password">
        {{ form.new_password1.errors }}
      </div>

      <div class="field">
        <label class="password-label" for="new_password2">Confirme a nova senha</label>
        <input class="{% if form.new_password2.errors %}red{% endif %}" id="new_password2" name="new_password2" size="30" type="password">
        {{ form.new_password2.errors }}
        <p><input class="btn btn-default btn-small" type="submit" value="Mudar senha" /></p>
    </form>

    {% else %}

    <h1>Algo deu errado</h1>

    <p>O link de redefinição da senha inválido, provavelmente por já ter sido usado antes. Por favor, solicite uma nova recuperação de senha.</p>
{% endif %}
</div>
{% endblock %}
