{% extends "core/base.html" %}

{% block title %}New Game{% endblock %}

{% block content %}

    <p>Olá, {{ user.username }}</p>
    <form method="post" class="navigation-buttons">{% csrf_token %}
        {% for slot in save_slots %}
            <li>
                <button type="submit" name="slot" value="{{ slot.slot_number }}" class="btn btn-default btn-small">
                    <div>Slot {{ slot.slot_number }}</div>
                    {% if not slot.is_started %}
                        <div>NEW GAME</div>
                    {% else %}
                        <div>Capitulo {{ slot.current_chapter }}</div>
                    {% endif %}
                </button>
            </li>
        {% endfor %}
    </form>

{% endblock %}
