{% extends "base.html" %}
{% block title %}Como jogar{% endblock %}

{% block content %}

    <p>OWNED – um novo jogador é um livro interativo. Você decide o final.</p>
    <p>Em OWNED você é André, um técnico de informática viciado em videogames que vai tentar conquistar pelo menos uma dentre sete garotas. Para jogar, basta clicar em uma das opções no final de cada trecho de história, dando um rumo à vida de André.</p>
    <p>Cadastre-se (no canto superior esquerdo do site) e acesse a aba Menu para poder salvar e restaurar jogos.</p>
    <p>Alguma palavra desconhecida? Consulte o glossário.</p>
    
{% endblock %}