{% extends "core/base.html" %}
{% load staticfiles %}
}
{% block title %}Créditos{% endblock %}

{% block content %}
<div class="staticpage">

    <h1>A EQUIPE DE <em>OWNED</em></h1>
    <hr>

    <h2>Autora</h2>
    <span class="image-and-subtitle">
        <p><img src="{% static 'images/rosto.jpg' %}" width="200px"></p>
        <p><strong>Simone Campos</strong></p>
    </span>

    </p>

    <p><a href="http://www.simonecampos.net" target="_blank">Mais sobre a autora</a></p>

    <h3>Ilustrador</h3>
    Vinícius Lima

    <h3>Editor</h3>
    Jorge Viveiros de Castro

    <h3>Versão 2.0</h3>
    Rodrigo Deodoro

    <h1>AGRADECIMENTOS</h1>

    <ul>
        <li>À equipe de Owned – um novo jogador – Filipe Moura (designer) e Vinícius Lima (ilustrador) – por terem ido além de seus papéis, oferecendo tantas boas ideias (e videogames emprestados);</li>
        <li>a Rodrigo Deodoro pela consultoria técnica (e videogames emprestados);</li>
        <li>a Helloara Ravani pelo incentivo para começar;</li>
        <li>a Antônio Xerxenesky, Daniel Galera e Daniel Pellizzari pelas dicas de leitura sobre games;</li>
        <li>a Bruna Beber pelas dicas de marketing viral;</li>
        <li>a Fabiano Vianna pela sugestão de nome de domínio;</li>
        <li>a Diana de Hollanda pelos papos matemático-literários;</li>
        <li>a Oswaldo Chateaubriand, por generosamente me deixar frequentar sua aula de Lógica Matemática, e a todos os seus alunos;</li>
        <li>
            aos beta testers e amigos (ainda não citados):
            <ul>
                <li>Aline Coelho</li>
                <li>Alexandre Rodrigues</li>
                <li>Ana Maria da Silva</li>
                <li>Anastha Machado</li>
                <li>André Pontes</li>
                <li>Bolívar Torres</li>
                <li>Carla Pilla</li>
                <li>Carolina Leal</li>
                <li>Cecília Cavalieri</li>
                <li>Christianne Basílio</li>
                <li>Desirrê Oliveira</li>
                <li>Dimitri Rebello</li>
                <li>Felipe Gomes</li>
                <li>Félix Cornejo</li>
                <li>Fernanda Lobo</li>
                <li>Gabriel Dias</li>
                <li>Guilherme Bezerra</li>
                <li>Hector Lima</li>
                <li>Henrique Nobre</li>
                <li>Henrique Santos</li>
                <li>Isabelle Americano</li>
                <li>Ismar Tirelli Neto</li>
                <li>João Paulo Cruz</li>
                <li>Juliana Fausto</li>
                <li>Laís Alcântara</li>
                <li>Leonardo Ferreira</li>
                <li>Márcio Senna</li>
                <li>Marina Boscato</li>
                <li>Marina Hofmeister</li>
                <li>Mariana Rêgo</li>
                <li>Marília Garcia</li>
                <li>Marjorie Toledo</li>
                <li>Martin Motloch</li>
                <li>Melqui Barros</li>
                <li>Mônica Surrage</li>
                <li>Nataniel Strack</li>
                <li>Olavo Amaral</li>
                <li>Paulo Scott</li>
                <li>Pedro Henrique Muniz</li>
                <li>Péricles Júnior</li>
                <li>Rafaela Machado</li>
                <li>Roberto Cardadeiro</li>
                <li>Sabrina Carvalho</li>
                <li>Stephanie Fernandes</li>
                <li>Thadeu Santos</li>
                <li>Thiago Ibsen</li>
                <li>Victoria Saramago</li>
                <li>Wilson Reis</li>
            </ul>
        </li>
        <li>a Ada Augusta Byron King, Lady Lovelace, mãe da computação;</li>
        <li>a minha mãe, Sandra, por me ensinar a não desistir;</li>
        <li>a meu pai, José Henrique, por me fornecer livros desde criancinha e me emprestar material sobre lógica;</li>
        <li>e ao meu padrinho, Antonio Dias, por ter me dado tantos videogames de presente.</li>
    </ul>

</div>
{% endblock %}