{% extends "core/base.html" %}
{% block title %}FAQ{% endblock %}

{% block content %}
<h1>FAQ</h1>
<hr>

<h3>Jogar <i>Owned</i> é grátis?</h3>
<p><i>Resposta:</i> Sim, totalmente de graça. E você pode jogar de novo quantas vezes quiser. A versão impressa e o e-book para leitor digital é que são pagos.</p>

<hr>

<h3>Quanto tempo demora para terminar de ler <i>Owned?</i></h3>
<p><i>Resposta:</i> O tempo que você leva para ler um livro de 100 a 150 páginas (conforme o caminho escolhido, o tamanho da história varia). Você pode jogar de novo quantas vezes quiser, trilhando outros caminhos.</p>

<hr>

<h3><i>Owned</i> tem final?</h3>
<p><i>Resposta: </i>Sim, vários. Bons, ruins e neutros.</p>

<hr>

<h3>Quantos finais <i>Owned</i> tem?</h3>
<p><i>Resposta: </i>Segredo. Ou melhor: conte você mesmo.</p>

<hr>

<h3>Qual a diferença entre as versões do site e para baixar?</h3>
<p><i>Resposta: </i>Quase nenhuma. Se você comprar <i>Owned</i> impresso, além de fazer escolhas você vai precisar responder perguntas sobre o que o personagem já viveu, do tipo "Você esteve numa boate? Se sim, vá para a página 123". Ou seja: o jogo vai precisar usar a sua memória. Para "salvar o jogo" no livro de papel, bastará marcar as páginas em que fez escolhas. O livro impresso vem com bônus: guia de estratégia, textos extras e detalhes do processo de criação.</p>

<hr>

<h3>Quero um walkthru.</h3>
<p><i>Resposta:</i> Faça um. Ou arrume a versão impressa, que vem com guia de estratégia e outros bônus.</p>

<hr>

<h3>Eu estava jogando <i>Owned</i> num computador que divido com outras pessoas e perdi meu jogo salvo. Tem como recuperá-lo?</h3>
<p><i>Resposta:</i> Infelizmente não. Alguma pessoa apagou seu jogo salvo (apagando o histórico e cookies do navegador, por exemplo) ou simplesmente começou um jogo dela e salvou por cima. Para evitar isso, recomenda-se jogar a versão baixável do jogo ou fazer um usuário.</p>

<hr>

<h3>Gostei do livro. Como posso fazer alguma contribuição ou intervenção em Owned?</h3>
<p><i>Resposta:</i> A maior contribuição é divulgar o livro para os amigos, tanto dentro como fora da internet. Perguntar pela versão impressa de <i>Owned</i> (editora 7Letras, autora Simone Campos) na livraria mais perto da sua casa também é uma boa, pois assim as livrarias começam a pedi-lo. Você pode também dar uma contribuição artística, criando ilustrações ou textos (ver pergunta abaixo). Para dar uma contribuição financeira, é possível comprar a versão impressa de <i>Owned</i> (disponível em livrarias online e físicas). Você também pode comprar um livro, quadrinho ou jogo através da seção de recomendações do site, pois assim a autora ganha comissão.</p>

<hr>

<h3>Quero usar os personagens/universo de <i>Owned</i> num trabalho meu. Posso?</h3>
<p><i>Resposta:</i>  Se seu trabalho derivado for sem fins lucrativos e der o devido crédito à autora (Simone Campos) e ao livro (<i>Owned</i> - Um novo jogador), você pode. Se você fizer algum trabalho nesses moldes relacionado a Owned (como fanfic ou ilustrações) e quiser divulgar, mande para nós avaliarmos e, gostando, colocaremos o link nesse site. <i>Owned</i> está registrado sob Creative Commons By-Nc-Sa.</p>

<hr>

<p>Sua dúvida não foi respondida? <a href='{% url "core:contact" %}'>Pergunte aqui</a>. </p>

{% endblock %}