{% load lazysignup_tags %}

{% block login %}
<div class="loginbar">
{% if not user.is_authenticated %}
    <form action="{% url 'account_login' %}" method="post" id="login-form">{% csrf_token %}
        <label for="id_login" class="required">Login:</label>
        <input id="id_login" maxlength="254" name="login" type="text" class="form-control">

        <label for="id_password" class="required">Senha:</label>
        <input id="id_password" name="password" type="password" class="form-control">

        <input type="submit" value="Login" class="btn btn-default btn-small">
        <a href="{% url 'account_signup' %}" class="btn btn-default btn-small">Cadastrar</a>
    </form>
{% elif not user|is_lazy_user %}
        <div class="userinfo">
            JOGADOR: {{ user.username }}
        </div>
        <a class="btn btn-default btn-small btn-logout" href="{% url 'account_reset_password' %}">Alterar senha</a>
        <a class="btn btn-default btn-small btn-logout" href="{% url 'account_logout' %}">Logout</a>
{% else %}
        <div class="userinfo lazy-user-message">
            Crie uma conta e <a href='{% url "lazysignup_convert" %}'>salve seu progresso</a>!
        </div>
        <a class="btn btn-default btn-small btn-logout" href="{% url 'account_logout' %}">Logout</a>
{% endif %}
</div>

{% endblock %}
