body {
    background-color: black;
    .left {
        float: left;
    }

    .right {
        float: right;
    }

    .bar {
        img {
            max-height: 100%;
            height: 100%;
            width: auto;
        }
    }
    .container {
        width: 800px;
    }
}