body {
  background-color: grey;
  width: 100%;
  height: 100%; }
  body .btn {
    border-radius: 0px; }
  body .navigation-buttons {
    float: right;
    list-style: none;
    padding: 1px;
    padding-right: 5px; }
    body .navigation-buttons li {
      padding-bottom: 7px; }
      body .navigation-buttons li a {
        text-decoration: none;
        background: #333;
        width: 180px;
        min-width: 165px;
        font-family: 'Armata', sans-serif; }
      body .navigation-buttons li a:hover {
        background: #6DD2E5; }
  body .wrapper {
    background-color: black; }
    body .wrapper #left {
      left: 0px;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1); }
    body .wrapper #right {
      right: 0px; }
    body .wrapper .bar {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left;
      width: 23%;
      height: 100%;
      position: fixed;
      background-image: url(../img/sidebar.png);
      opacity: 0.5; }
    body .wrapper #middle {
      background-color: #AAA;
      width: 850px;
      min-width: 850px;
      margin: 0 auto;
      position: relative;
      z-index: 100; }
      body .wrapper #middle #topbar {
        background: #333;
        border-top: 8px solid #555;
        height: 50px;
        color: white; }
        body .wrapper #middle #topbar a {
          margin-right: 10px; }
        body .wrapper #middle #topbar .loginbar {
          font-family: 'Armata', sans-serif;
          margin-top: 7px;
          overflow: hidden; }
          body .wrapper #middle #topbar .loginbar form {
            float: right; }
            body .wrapper #middle #topbar .loginbar form input, body .wrapper #middle #topbar .loginbar form label {
              float: left; }
            body .wrapper #middle #topbar .loginbar form label {
              text-transform: uppercase;
              font-family: 'Armata', sans-serif;
              margin: 5px 10px 10px 10px; }
            body .wrapper #middle #topbar .loginbar form .btn {
              margin-left: 10px; }
            body .wrapper #middle #topbar .loginbar form #id_username, body .wrapper #middle #topbar .loginbar form #id_password {
              width: 140px;
              height: 29px;
              padding: 6px; }
          body .wrapper #middle #topbar .loginbar .btn-logout {
            float: right; }
          body .wrapper #middle #topbar .loginbar .userinfo {
            margin-top: 4px;
            margin-left: 10px;
            float: left; }
      body .wrapper #middle #header {
        height: 180px;
        border-bottom: 1px solid black;
        border-top: 1px solid black; }
        body .wrapper #middle #header .navigation-wrapper {
          margin-top: 12px; }
          body .wrapper #middle #header .navigation-wrapper .headerlogo {
            background-image: url(../img/logo_flat.png);
            background-size: 100%;
            height: 155px;
            width: 425px;
            margin-left: 20px;
            float: left;
            border-radius: 70px;
            display: block; }
          body .wrapper #middle #header .navigation-wrapper #nav-right {
            padding-right: 20px; }
      body .wrapper #middle .inventory {
        float: right;
        margin-top: 50px;
        margin-right: 35px;
        background-color: #000;
        width: 110px;
        opacity: 0.60; }
        body .wrapper #middle .inventory img {
          width: 42px;
          margin: 5px;
          border-radius: 10px; }
      body .wrapper #middle .clear {
        clear: both; }
      body .wrapper #middle #content-wrapper #content {
        background-color: white;
        position: relative;
        height: 95%;
        margin: 10px;
        border-radius: 25px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0; }
        body .wrapper #middle #content-wrapper #content #square-top {
          float: right; }
        body .wrapper #middle #content-wrapper #content #square-bottom {
          position: absolute;
          bottom: 0px;
          left: 0px; }
        body .wrapper #middle #content-wrapper #content .square {
          background-color: #AAA;
          height: 30px;
          width: 30px; }
      body .wrapper #middle #footer {
        position: relative;
        background: #222;
        height: 150px;
        font-family: 'Armata', sans-serif;
        overflow: hidden; }
        body .wrapper #middle #footer #footerlogo {
          box-shadow: 0px 0px 5px #00A3FF;
          border-radius: 22px;
          width: 125px;
          position: relative;
          display: inline-block;
          top: 25px;
          left: 15px; }
          body .wrapper #middle #footer #footerlogo img {
            width: 125px; }
        body .wrapper #middle #footer #license img {
          border-width: 0;
          box-shadow: 0px 0px 5px white;
          position: relative;
          display: inline-block;
          left: 32px;
          top: 40px; }
        body .wrapper #middle #footer ul#footer-navigation {
          width: 450px;
          position: relative;
          display: inline-block;
          bottom: 50px;
          left: 160px;
          padding: 0; }
          body .wrapper #middle #footer ul#footer-navigation li {
            width: 33%;
            float: left;
            list-style: none; }
        body .wrapper #middle #footer #copyright-notice {
          width: 450px;
          height: 50px;
          position: relative;
          display: inline-block;
          bottom: 42px;
          left: 160px;
          padding: 0; }
          body .wrapper #middle #footer #copyright-notice p {
            font-size: 9px;
            color: white;
            display: inline-block; }
  body .book-text {
    padding: 50px;
    min-height: 600px;
    width: 85%;
    font-family: 'Open sans', serif; }
    body .book-text .text-title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 25px; }
    body .book-text .text-body {
      margin-bottom: 3em; }
      body .book-text .text-body p {
        text-indent: 30px;
        font-size: 15px;
        text-align: justify;
        margin: 0px; }
        body .book-text .text-body p strong {
          font-weight: 700; }
        body .book-text .text-body p .warning {
          color: #800000; }
    body .book-text .text-options a {
      text-decoration: none;
      background: #333;
      font-family: 'Armata', sans-serif; }
    body .book-text .spacer {
      height: 80px; }
    body .book-text .bold-paragraph {
      margin: 15px 0 15px; }
    body .book-text .navigation-buttons {
      text-align: center;
      float: center;
      margin-top: 50px; }
      body .book-text .navigation-buttons li {
        padding: 10px;
        display: inline-block; }
        body .book-text .navigation-buttons li button {
          width: 150px; }
  body .signup h1, body .signup form, body .signup p {
    font-family: "Armata", sans-serif; }
  body .signup .signupform ul, body .signup .signupform li, body .signup .signinform ul, body .signup .signinform li {
    display: inline;
    float: right;
    margin: 0;
    color: #666;
    font-size: 12px;
    text-align: right;
    width: 215px; }
  body .signup .signupform label, body .signup .signinform label {
    display: block; }
  body .signup .signupform input, body .signup .signupform a, body .signup .signinform input, body .signup .signinform a {
    margin-bottom: 20px;
    border: 1px solid #d7dae0;
    box-shadow: 0 0 0 4px #eef6ff;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    transition: box-shadow 100ms,border 100ms;
    width: 400px;
    display: inline-block; }
  body .signup .signupform input:focus, body .signup .signinform input:focus {
    -webkit-box-shadow: 0 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px 4px rgba(0, 0, 0, 0.2); }
  body .signup .signupform input.red, body .signup .signinform input.red {
    border: 1px solid #fd9898;
    box-shadow: 0px 0px 5px 2px rgba(235, 187, 187, 0.6); }
  body .signup .signupform input[type=submit], body .signup .signinform input[type=submit] {
    width: 28%; }
  body .signup .signupform a, body .signup .signinform a {
    width: 35%; }
