body {
    
    background-color: grey;
    width: 100%;
    height: 100%;

    .wrapper {
        background-color: black;

        #left {
            left: 0px;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }

        #right {
            right: 0px;
        }

        .bar {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: left;
            width: 22%;
            height: 100%;
            position: fixed;
            background-image: url(../img/sidebar2.png);
            opacity: 0.2;
        }

        #middle {
            // background-color: black;
            background-image: url(../img/background_pattern.png);
            width: 54%;
            margin: 0 auto;

            #topbar {
                background: #333;
                border-top: 8px solid #555;
                height: 50px;
                form {
                    color: white;
                    float: right;
                    margin-top: 7px;
                    input, label {
                        float: left;
                    }
                    label {
                        text-transform: uppercase;
                        font-weight: bold;
                        font-family: Armata;
                        margin: 5px 10px 10px 10px;
                    }
                    .btn {
                        margin-left: 10px;
                    }
                    a {
                        margin-right: 10px;
                    }
                    #id_username, #id_password {
                        width: 140px;
                        height: 29px;
                        padding: 6px;
                    }
                }
            }

            #header {
                // background-image: url(../img/background_pattern.png);
                height: 250px;
                border-bottom: 1px solid black;
                border-top: 1px solid black;
            }

            #content-wrapper {
                height: 1500px;
                #content {
                    background-color: white;
                    float: left;
                    height: 95%;
                    width: 85%;
                    margin: 10px;
                    border-radius: 25px;
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 0;
                    #square-top {
                        float: right;
                    }
                    #square-bottom {
                        bottom: 0px;
                        left: 0px;
                    }
                    .square {
                        // background-color: black;
                        background-image: url(../img/background_pattern.png);
                        height: 30px;
                        width: 30px;
                    }
                }
            }

            #footer {
                background-color: gray;
                height: 250px;
            }
        }
    }
    
}