body {
    
    background-color: grey;
    width: 100%;
    height: 100%;

    .wrapper {
        background-color: black;

        #left {
            left: 0px;
            background-image: url(../img/left.png);
            background-position: right;
        }

        #right {
            right: 0px;
            background-image: url(../img/right.png);
            background-position: left;

        }

        .bar {
            background-size: 55%;
            background-repeat: no-repeat;
            width: 25%;
            height: 100%;
            position: fixed;
        }

        #middle {
            background-color: black;
            width: 50%;
            margin: 0 auto;

            #topbar {
                background-color: darkgrey;
                height: 30px;
            }

            #header {
                background-color: lightblue;
                height: 250px;
            }

            #content {
                background-color: white;
                height: 800px;
            }

            #footer {
                background-color: gray;
                height: 250px;
            }
        }
    }
    
}